.idea
.DS_Store
.env
.env.defaults
.netlify
.redwood
dev.db*
dist
dist-babel
node_modules
yarn-error.log
web/public/calendars/*.ics
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts
api/src/lib/generateGraphiQLHeader.*
.pnp.*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vscode
.vercel

postgres
