/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
html, body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

ul {
  padding: 0;
  margin: 0;
}

.loading {
  padding-left: 20px;
}

.refresh {
  display: inline-block;
  cursor: pointer;
  color: #aaa;
  margin-left: 10px;
}

@layer components {
  .sidebar {
    @apply mb-6 h-[30vh] overflow-y-auto border-r pb-6 md:col-span-3 md:mb-0 md:h-auto md:max-h-[90vh] border-b-2 md:border-b-0;
  }

  .h2 {
    @apply flex flex-row justify-between pl-5 text-lg text-lg font-semibold;
  }

  .main-content {
    @apply pb-3 pl-2 pr-6 ml-3 md:col-span-9;
  }

  .menu-link {
    @apply w-52 cursor-pointer border-b px-3 pt-3 pb-3;
  }

  .blue-button {
    @apply rounded bg-blue-500 py-2 px-4 font-semibold text-white text-sm hover:bg-blue-700;
  }

  .red-button {
    @apply rounded bg-red-500 py-2 px-4 font-semibold text-white text-sm hover:bg-red-700;
  }

  .green-button {
    @apply rounded bg-green-500 py-2 px-4 font-semibold text-white text-sm hover:bg-green-700;
  }

  .orange-button {
    @apply rounded bg-orange-500 py-2 px-4 font-semibold text-white text-sm hover:bg-orange-700;
  }
}

@media screen and (min-width: 720px) {
  .main-content {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }
}

.dashboard {
  height: calc(100vh - 132px);
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .dashboard {
    height: 100vh;
  }
}

.note-markdown h1,
.note-markdown h2,
.note-markdown h3,
.note-markdown h4,
.note-markdown h5,
.note-markdown h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.note-markdown h1 {
  font-size: 1.4rem;
}

.note-markdown h2 {
  font-size: 1.3rem;
}

.note-markdown h3 {
  font-size: 1.2rem;
}

.note-markdown h4 {
  font-size: 1.1rem;
}

.note-markdown h5 {
  font-size: 1rem;
}

.note-markdown h6 {
  font-size: 0.9rem;
}

.note-markdown p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
}

.note-markdown ul li {
  list-style-type: initial;
  margin-left: 1.5rem;
  padding-bottom: 0.2rem;
}

.note-markdown a {
  color: rgb(59, 130, 246);
  display: inline-block;
}

.note-markdown li a {
  margin-bottom: 0;
  margin-top: 0;
}

.note-menu:hover button {
  display: block;
}

.inventory-menu:hover .edit-link {
  display: block;
}

.scratch-pad textarea {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
}

input:focus {
  outline: none !important;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px #ccc;
}

.menu-link button,
.menu-link a {
  text-align: left;
  display: inline-block;
  height: 100%;
  width: 100%;
}
