/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/**
 * END --- SETUP TAILWINDCSS EDIT
 */
html, body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

ul {
  padding: 0;
  margin: 0;
}

.loading {
  padding-left: 20px;
}

.refresh {
  display: inline-block;
  cursor: pointer;
  color: #aaa;
  margin-left: 10px;
}

@layer components {
  .sidebar {
    @apply mb-6 h-[30vh] overflow-y-auto border-r pb-6 md:col-span-3 md:mb-0 md:h-auto md:max-h-[90vh] border-b-2 md:border-b-0;
  }

  .h2 {
    @apply flex flex-row justify-between pl-5 text-lg text-lg font-semibold;
  }

  .main-content {
    @apply pb-3 pl-2 pr-6 ml-3 md:col-span-9;
  }

  .menu-link {
    @apply w-52 cursor-pointer border-b px-3 pt-3 pb-3;
  }

  .blue-button {
    @apply rounded bg-blue-500 py-2 px-4 font-semibold text-white text-sm hover:bg-blue-700;
  }

  .blue-outline-button {
    @apply rounded border border-blue-500 py-2 px-4 font-semibold text-blue-500 text-sm hover:bg-blue-500 hover:text-white;
  }

  .red-button {
    @apply rounded bg-red-500 py-2 px-4 font-semibold text-white text-sm hover:bg-red-700;
  }

  .green-button {
    @apply rounded bg-green-500 py-2 px-4 font-semibold text-white text-sm hover:bg-green-700;
  }

  .orange-button {
    @apply rounded bg-orange-500 py-2 px-4 font-semibold text-white text-sm hover:bg-orange-700;
  }

  .grey-outline-button {
    @apply border border-gray-300 rounded-sm w-8 h-8 flex items-center justify-center hover:bg-gray-300
  }

  .header-icon {
    @apply h-6 w-6 text-blue-500;
  }
}

@media screen and (min-width: 720px) {
  .main-content {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }
}

.dashboard {
  height: calc(100vh - 132px);
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .dashboard {
    height: 100vh;
  }
}

.editor-container,
.note-markdown {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  h5 {
    @apply text-sm font-bold;
  }
  h6 {
    @apply text-xs font-bold;
  }
  p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
  }
  ul li {
    list-style-type: initial;
    margin-left: 1.5rem;
    padding-bottom: 0.2rem;
  }
  a {
    @apply text-blue-500;
    display: inline-block;
  }
  li a {
    margin-bottom: 0;
    margin-top: 0;
  }
  blockquote {
    @apply border-l-4 border-gray-300 pl-4;
  }
}

.note-menu:hover button {
  display: block;
}

.inventory-menu:hover .edit-link {
  display: block;
}

input:focus {
  outline: none !important;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px #ccc;
}

.menu-link button,
.menu-link a {
  text-align: left;
  display: inline-block;
  height: 100%;
  width: 100%;
}

[class*="popupContainer"] {
  z-index: 2000 !important;
}